openapi: 3.0.3
info:
  description: API REST para las Salas
  title: Salas DTIC
  version: 1.0.0
servers:
- url: http://localhost:8080/v1
tags:
- description: Operaciones sobre las Salas
  name: Salas
paths:
  /salas:
    post:
      operationId: salasPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sala"
        required: true
      responses:
        "201":
          description: Sala creada correctamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_salas_post_400_response"
          description: peticion invalida
      summary: Crear nueva sala
      tags:
      - Salas
      x-eov-operation-handler: controllers/SalasController
  /salas/{codigoSala}:
    delete:
      operationId: salasCodigoSalaDELETE
      parameters:
      - explode: false
        in: path
        name: codigoSala
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: wsKey
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Sala eliminada correctamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_salas_post_400_response"
          description: peticion invalida
        "404":
          description: Sala no encontrada
      summary: Borrar sala por su codigo
      tags:
      - Salas
      x-eov-operation-handler: controllers/SalasController
    get:
      operationId: salasCodigoSalaGET
      parameters:
      - explode: false
        in: path
        name: codigoSala
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: wskey
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sala"
          description: Sala encontrada
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_salas_post_400_response"
          description: peticion invalida
        "404":
          description: Sala no encontrada
      summary: Consultar sala pr codigo
      tags:
      - Salas
      x-eov-operation-handler: controllers/SalasController
  /salas/{id}:
    put:
      operationId: salasIdPUT
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sala"
        required: true
      responses:
        "200":
          description: Sala actualizada correctamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_salas_post_400_response"
          description: peticion invalida
        "404":
          description: Sala no encontrada
      summary: Modificar datos de Sala
      tags:
      - Salas
      x-eov-operation-handler: controllers/SalasController
components:
  responses:
    "400Error":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/_salas_post_400_response"
      description: peticion invalida
  schemas:
    Sala:
      example:
        codigoSala: 6
        wskey: wskey
        id: 0
        nombre: nombre
        nivel: 1
      properties:
        id:
          description: ID de la sala
          readOnly: true
          type: integer
        codigoSala:
          description: codigo de la sala
          type: integer
        nombre:
          description: nombre de la sala
          type: string
        nivel:
          description: nivel de la sala
          type: integer
        wskey:
          description: Clave de autenticacion REST
          type: string
      required:
      - codigoSala
      - nivel
      - nombre
      type: object
    _salas_post_400_response:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
